html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: table;
}

.yo-main {
    padding-top: 150px;
    padding-bottom: 120px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.result-main {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 140px;
}

.score-main {
    padding-top: 90px;
}